/*  your css code here. If applicable */
body{
	width:90%;
	margin:auto;
}
.title{
	font-size:50px;
	text-align:center;
}
span{
	color:blue;
}
input{
	height:30px;
	width:100%;
}
#submit{
	background-color:#1877F2;
	color:white;
	padding:6px;
	border-radius:3px;
	border:0px;
}
button:hover{
	cursor:pointer;
}
table{
	margin-top:40px;
	width:100%;
	border-collapse:collapse;
}
tr{
	border-bottom:2px solid #B0B0B0;
}
tr.border{
	border-bottom:2px solid black;
}
tr{
	background-color:#F8F8F8;
}
th{
	background-color:white;
	width:27%;
	text-align:left;
}
td,th{
	padding:10px 5px;
}
.delete{
	background-color:red;
	border:none;
	padding:2px;
}
